@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background: rgb(201,233,255);
  background: linear-gradient(61deg, rgb(166, 205, 231) 0%, rgba(237,243,255,1) 100%);
}


